django==3.2
graphene-django
django-filter
django-graphql-auth==0.3.16
django-graphql-jwt==0.3.0
pyjwt
gunicorn
psycopg2-binary
dj-database-url
django-ratelimit
colorlog
dj-static
sentry-sdk
django-extensions
django-silk
cachetools
pandas
feedparser
sklearn
gensim
autopep8
pylint-django
pytest-django
mixer
pytest-cov
flake8
werkzeug
deeppavlov==0.17.2
transformers==4.16.2
eventlet==0.24.1
